.containerHovered {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 118px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 352px;
    height: 80px;
    left: 118px;
    top: 496px;

    background: #F35669;
    /* Purple */
    border-radius: 200px;

    z-index: 5;
}

.containerNotHovered {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 28px 118px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 352px;
    height: 80px;
    left: 118px;
    top: 496px;

    /* White */

    background: #FFFFFF;
    /* Purple */

    border: 4px solid #F35669;
    border-radius: 200px;

    z-index: 5;
}

.text {
    width: 116px;
    height: 24px;

    font-family: 'Overlock';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 24px;
    /* identical to box height, or 24px */

    text-align: right;
    letter-spacing: 0.017em;
    text-transform: uppercase;

    /* Purple */

    color: #F35669;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.vector2 {
    position: absolute;
    width: 117px;
    height: 25px;
    left: 206px;
    top: 0px;

    visibility: hidden;
}

.vector1 {
    position: absolute;
    width: 92px;
    height: 66px;
    left: 0px;
    top: 25px;

    visibility: hidden;
}