.page2 {
    position: absolute;
    width: 1600px;
    height: 825px;

    top: -50px;

    /* White */

    background: #F35669;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    isolation: isolate;

    position: absolute;
    width: 703px;
    height: 250px;
    left: 617px;
    top: 160px;
}

.img-2 {
    width: 250px;
    height: 250px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.once {
    width: 389px;
    height: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    /* or 42px */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.tag {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    gap: 10px;

    position: absolute;
    width: 150px;
    height: 27px;
    left: -45px;
    bottom: 215px;

    /* White */

    background: #FFFFFF;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.hi {
    width: 140px;
    height: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */


    /* Blue */

    color: #2DA6B1;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    isolation: isolate;

    position: absolute;
    width: 628px;
    height: 250px;
    left: 692px;
    top: 458px;
}

.and {
    width: 314px;
    height: 126px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    /* or 42px */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.img-3 {
    width: 250px;
    height: 250px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.tag-2 {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    gap: 10px;

    position: absolute;
    width: 75px;
    height: 27px;
    right: 106px;
    bottom: -19px;

    /* White */

    background: #FFFFFF;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.help {
    /* Help 😢 */


    width: 76px;
    height: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */


    /* Blue */

    color: #2DA6B1;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.how {
    position: absolute;
    width: 389px;
    height: 320px;
    left: 118px;
    top: 274px;

    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 80%;
    /* or 80px */

    letter-spacing: 0.017em;
    text-transform: uppercase;

    /* White */

    color: #FFFFFF;
}